# Configuración de arranque limpio y seguro (parámetros de kernel)
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash loglevel=2 rd.systemd.show_status=false rd.udev.log_level=2 vt.global_cursor_default=0 systemd.show_status=error systemd.udev.log_level=err"
