/*
 * Sioyek — Preferencias de usuario
 * Tema Catppuccin Mocha
 */

custom_background_color  0.10 0.11 0.15
custom_text_color        0.75 0.78 0.96
page_separator_color     0.10 0.11 0.15
search_highlight_color   0.89 0.70 0.40
status_bar_color         0.10 0.11 0.15
status_bar_text_color    0.75 0.78 0.96
