# Sioyek — Preferencias de usuario
# Tema Apple macOS Dark (Space Gray)

custom_background_color  0.11 0.11 0.12
custom_text_color        0.96 0.96 0.97
page_separator_color     0.11 0.11 0.12
search_highlight_color   1.00 0.62 0.04
status_bar_color         0.11 0.11 0.12
status_bar_text_color    0.96 0.96 0.97
