configuration {
    modi:                       "drun,run,filebrowser,window";
    show-icons:                 true;
    display-drun:               " ";
    display-run:                " ";
    display-filebrowser:        " ";
    display-window:             " ";
    drun-display-format:        "{name}";
    window-display-format:      "{title}";
    font:                       "JetBrainsMono Nerd Font 10";
}

@theme "~/.config/rofi/theme.rasi"

window {
    height:                      350px;
    width:                       600px;
    transparency:                "real";
    fullscreen:                  false;
    enabled:                     true;
    cursor:                      "default";
    background-color:            @main-bg;
    border:                      2px;
    border-color:                @main-br;
    border-radius:               12px;
}

mainbox {
    enabled:                     true;
    spacing:                     10px;
    padding:                     20px;
    background-color:            transparent;
    children:                    [ "inputbar", "listview" ];
}

inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     10px 14px;
    border:                      1px;
    border-color:                @main-br;
    border-radius:               8px;
    background-color:            @main-ex;
    text-color:                  @main-fg;
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
}

entry {
    enabled:                     true;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      "text";
    placeholder:                 "Buscar...";
    placeholder-color:           inherit;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    spacing:                     5px;
    margin:                      0px;
    padding:                     0px;
    background-color:            transparent;
    text-color:                  @main-fg;
    cursor:                      "default";
}

element {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     6px 10px;
    border-radius:               6px;
    background-color:            transparent;
    text-color:                  @main-fg;
    cursor:                      "pointer";
}

element normal.normal {
    background-color:            transparent;
    text-color:                  @main-fg;
}

element selected.normal {
    background-color:            @select-bg;
    text-color:                  @select-fg;
}

element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}

element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}
